<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="airship-location-cordova"
    version="1.0.0">

    <name>Airship Location Plugin</name>
    <description>Cordova plugin to install the Airship Location module</description>
    <license>Apache 2.0</license>
    <keywords>location,cordova,airship</keywords>
    <repo>https://github.com/urbanairship/airship-location-cordova</repo>
    
    <engines>
        <engine name="cordova" version=">=5.4.0" />
        <engine name="cordova-plugman" version=">=4.2.0" />
    </engines>

    <dependency id="urbanairship-cordova" version=">=8.0.0"/>

    <!-- ios -->
    <platform name="ios">

        <config-file parent="/widget" target="config.xml">
            <feature name="AirshipLocationPlugin">
                <param name="ios-package" value="AirshipLocationPlugin"/>
                <param name="onload" value="true"/>
            </feature>
        </config-file>

        <!-- Airship location module -->
        <source-file framework="true" src="src/libUALocation-11.0.0.a"/>

        <!-- system frameworks -->
        <framework src="CoreLocation.framework" />
    </platform>

</plugin>
