<?xml version='1.0' encoding='utf-8'?>
<plugin id="urbanairship-accengage-cordova"
        version="13.3.0"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">

    <name>urbanairship-accengage-cordova</name>
    <description>Urban Airship-Accengage Cordova plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,urbanairship</keywords>
    <repo>https://github.com/urbanairship/urbanairship-accengage-cordova.git</repo>

    <engines>
        <engine name="cordova-android" version=">=10.0.0"/>
        <engine name="cordova-ios" version=">=6.2.0"/>
        <engine name="cordova" version=">=9.0.1"/>
    </engines>

    <dependency id="urbanairship-cordova" version="13.3.0"/>

    <!-- ios -->
    <platform name="ios">

        <config-file target="*-Info.plist" parent="UACordovaPluginVersion">
            <string>13.3.0</string>
        </config-file>

        <!-- Airship Accengage Module -->
        <podspec>
            <config>
                <source url="https://github.com/CocoaPods/Specs.git"/>
            </config>
            <pods use-frameworks="true">
                <pod name="Airship/Accengage" spec="16.3.0" />
            </pods>
        </podspec>

    </platform>

    <!-- android -->
    <platform name="android">
        <framework
            custom="true"
            src="src/android/build-extras.gradle"
            type="gradleReference"/>
    </platform>

</plugin>
