<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>titleColor</key>
	<string>#ba1c8b</string>
	<key>navigationBarColor</key>
	<string>#8f0b70</string>
	<key>iconsEnabled</key>
	<true/>
</dict>
</plist>
