developmentAppKey = Your Development App Key
developmentAppSecret = Your Development Secret
productionAppKey = Your Production App Key
productionAppSecret = Your Production Secret

#transport is "gcm" or "helium".
transport = gcm

gcmSender = Your GCM sender ID is your Google API project number(required for GCM)
inProduction = false

iapEnabled = false

# 2 = Log.VERBOSE; 3 = Log.DEBUG; 4 = Log.INFO;
# 5 = Log.WARN; 6 = Log.ERROR; 7 = Log.ASSERT;
developmentLogLevel = 3
productionLogLevel = 6
