<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.urbanairship"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="22"
        tools:overrideLibrary="com.google.android.gms, com.google.android.gms.location, com.google.android.gms.gcm, com.google.android.gms.maps" />

    <application />

</manifest>