<?xml version='1.0' encoding='utf-8'?>
<plugin id="@ua/cordova-airship-hms" version="17.5.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    
    <name>Airship HMS</name>
    <description>Airship HMS Cordova plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,urbanairship</keywords>
    <repo>https://github.com/urbanairship/urbanairship-hms-cordova.git</repo>

    <engines>
        <engine name="cordova-android" version=">=13.0.0"/>
        <engine name="cordova" version=">=9.0.1"/>
    </engines>

    <dependency id="@ua/cordova-airship" version="17.5.0"/>

    <!-- android -->
    <platform name="android">
        <framework src="src/android/build-extras.gradle" custom="true" type="gradleReference"/>
        <resource-file src="src/android/app-build-extras.gradle" target="app/build-extras.gradle"/>
    </platform>

</plugin>
